body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,92,121,1) 35%, rgba(0,212,255,1) 100%);
}
.form-parent {
    width: 70%;
    margin: auto;
}
h2{
    color: white;
}
.fa-trash{
    cursor: pointer;
}
.table{
    justify-content: space-between;
}